# lp-opencast general environment variables
ELASTICSEARCH_SERVER_HOST=opensearch
ORG_OPENCASTPROJECT_DB_JDBC_PASS=opencast
ORG_OPENCASTPROJECT_DB_JDBC_URL=jdbc:mariadb://mariadb/opencast?useMysqlMetadata=true
ORG_OPENCASTPROJECT_DB_JDBC_USER=opencast
ORG_OPENCASTPROJECT_DB_VENDOR=MariaDB
ORG_OPENCASTPROJECT_DOWNLOAD_URL=http://localhost:8081/static
ORG_OPENCASTPROJECT_SECURITY_ADMIN_PASS=opencast
ORG_OPENCASTPROJECT_SECURITY_ADMIN_USER=admin
ORG_OPENCASTPROJECT_SECURITY_DIGEST_PASS=CHANGE_ME
ORG_OPENCASTPROJECT_SECURITY_DIGEST_USER=opencast_system_account
PROP_ORG_OPENCASTPROJECT_ADMIN_UI_URL=http://localhost:8080
PROP_ORG_OPENCASTPROJECT_ENGAGE_UI_URL=http://localhost:8081

# lp-opencast-admin environment variables
ORG_OPENCASTPROJECT_SERVER_URL_ADMIN=http://opencast-admin:8080

# lp-opencast-presentation environment variables
ORG_OPENCASTPROJECT_SERVER_URL_PRESENTATION=http://opencast-presentation:8080

# lp-opencast-worker environment variables
ORG_OPENCASTPROJECT_SERVER_URL_WORKER=http://opencast-worker:8080

# mariaDB environment variables
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=opencast
MYSQL_USER=opencast
MYSQL_PASSWORD=opencast

# opensearch environment variables
DISABLE_INSTALL_DEMO_CONFIG=true
DISABLE_SECURITY_PLUGIN=true
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
BOOTSTRAP_MEMORY_LOCK=true
DISCOVERY_TYPE=single-node
